.navbar-brand {
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center items vertically */
}

.navbar {
  background-color: #3f4b77; /* Set background color for the navigation bar */
  padding: 10px; /* Add padding to the navigation bar */
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center items vertically */
  flex-direction: row;
}

.navbar-logo {
  height: 50px; /* Set the height of the logo image */
  margin-right: 20px; /* Add margin to the right of the logo */
}

.navbar-title {
  display: inline-flex !important;
  color: white;
  font-size: 25px;
}

.list-container {
  margain-top: 1000px;
}

.list-item {
  padding: 10px; /* Add padding to each list item */
  border-bottom: 1px solid #ddd; /* Optional: Add a border between each item */
}
